body {
    font-family: sans-serif;
    margin: 0;
}

//---- Section 1 ----------------//

.header {
    background-color: #2c3540;
    padding: 20px 30px 0;
}

.letter {
    background-color: #f4f4f4;
    padding: 30px;
}

.letter__logo {
    width: 150px;
}

.letter__snowflake {
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-8%, 7%);
}

.letter__title {
    font-size: 28px;
}

.letter__subtitle {
    color: #3b3b3b;
    font-size: 20px;
}

.letter__content {
    color: #727272;
    font-size: 16px;
}

.letter__sign-off {
    font-size: 18px;
    font-family: serif;
    color: #3b3b3b;
}

.letter__signature {
    width: 100px;
    height: 80px;
}


//---- Section 2 ----------------//

.gift-options,
.our-experts {
    background-color: #f4f4f4;
    padding: 30px 30px 0;
    display: flex;
    flex-direction: column;
}

.gift-options__intro,
.our-experts__intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-top: 1px solid #cdcdcd;
}

.gift-options__intro-title,
.our-experts__intro-title {
    color: #121212;
    font-size: 26px;
    padding-top: 30px;
    margin: 0;
}

.gift-options__intro-subtitle,
.our-experts__intro-subtitle {
    color: #4a4a4a;
    font-size: 22px;
    font-family: serif;
}

.gift-options__workshops {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.gift-options__workshops-logo {
    padding: 40px;
    text-align: center;

    img {
        width: 250px;
        height: 180px;
    }
}

.accelerator-logo {
    background: rgb(53,126,252);
    background: linear-gradient(180deg, rgba(53,126,252,1) 0%, rgba(54,237,248,1) 100%);
}

.pioneer-logo {
    background: rgb(22,191,115);
    background: linear-gradient(180deg, rgba(22,191,115,1) 0%, rgba(51,245,167,1) 100%);
}

.innovate-logo {
    background: rgb(196,37,129);
    background: linear-gradient(180deg, rgba(196,37,129,1) 0%, rgba(255,0,219,1) 100%);
}

.gift-options__workshops-description { 
    background-color: #ffffff;
    padding:40px;
}

.gift-options__workshops-title {
    color: #212832;
    font-size: 26px;
    margin-top: 0;
}

.accelerator {
    color: #3580fc;
}

.pioneer {
    color: #17c175;
}

.innovate {
    color: #d11d94;
}

.gift-options__workshops-content,
.gift-options__workshops-subcontent {
    color: #121212;
    font-size: 18px;
}

.gift-options__workshops-subcontent {
    margin-bottom: 0;
}

//---- Section 3 ----------------//

.our-experts { 
    background-color: #f4f4f4;
}

.our-experts__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-experts__content {
    text-align: center;
    
    img {
        width: 70%;
    }
}

.our-experts__content-description {
    text-align: center;
}

.our-experts__name {
    font-size: 26px;
    margin: 10px 0 5px 0;
}

.our-experts__job {
    font-size: 20px;
    margin: 0 0 40px 0;
}


//---- Section 4 ----------------//

.outro {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.outro-content {
    display: flex;
    align-items: center;
}

.outro-content__title {
    font-size: 36px;
}


//-----------------------------------------//
//    Media Queries
//-----------------------------------------//

@media screen and (min-width:900px)   {
    //---- Section 1 ----------------//

    .header {
        padding: 50px 100px 0;
    }

    .letter {
        padding: 75px;
    }

    .letter__logo {
        width: 200px;
    }

    .letter__snowflake {
        width: 280px;
        transform: translate(-36%, 16%);
    }

    .letter__title {
        font-size: 40px;
    }

    .letter__subtitle {
        font-size: 24px;
    }

    .letter__content {
        font-size: 20px;
    }

    .letter__sign-off {
        font-size: 20px;
    }

    //---- Section 2 ----------------//

    .gift-options,
    .our-experts {
        padding: 50px 65px 0;
    }

    .gift-options__intro,
    .our-experts__intro {
        flex-direction: row;
        border-top: none;
        margin-bottom: 55px;
    }

    .gift-options__intro-title,
    .our-experts__intro-title {
        font-size: 28px;
        padding-top: 50px;
        border-top: 1px solid #cdcdcd;
        width: 50%;
    }

    .gift-options__intro-subtitle,
    .our-experts__intro-subtitle {
        font-size: 24px;
        border-top: 1px solid #cdcdcd;
        padding-top: 50px;
        margin: 0 0 0 50px;
    }

    .gift-options__workshops {
        flex-direction: row;
        margin-bottom: 80px
    }

    .gift-options__workshops-logo {
        padding: 140px 70px;
    }

    .gift-options__workshops-description { 
        padding: 60px;
    }

    //---- Section 3 ----------------//

    .our-experts__row {
        flex-direction: row;
    }

    .our-experts__content {
        width: 33%;
        padding-right: 30px;

        img {
            width: 100%;
        }
    }

    .our-experts__content:last-of-type {
        padding-right: 0;
    }

    .our-experts__name {
        font-size: 28px;
        margin: 30px 0 15px 0;
    }
    
    .our-experts__job {
        font-size: 20px;
        margin: 0 0 80px 0;
    }

    //---- Section 4 ----------------//

    .outro {
        flex-direction: row;
        padding: 90px 0 90px 100px;
    }

    .outro-content__title {
        font-size: 38px;
    }

    .outro__image {
        width: 500px;
    }
}

@media screen and (min-width:1200px)  {
    //---- Section 1 ----------------//

     .header {
        padding: 100px 180px 0;
    }

    .letter {
        padding: 100px;
    }

    .letter__logo {
        width: 250px;
    }

    .letter__snowflake {
        width: 336px;
        transform: translate(-54%, 27%);
    }

    .letter__title {
        font-size: 44px;
    }

    .letter__subtitle {
        font-size: 28px;
    }

    .letter__content {
        font-size: 24px;
    }

    .letter__sign-off {
        font-size: 25px;
    }

    .letter__signature {
        width: 145px;
        height: 115px;
    }

    //---- Section 2 ----------------//

    .gift-options,
    .our-experts {
        padding: 100px 110px 0px;
    }

    .gift-options__intro,
    .our-experts__intro {
        margin-bottom: 95px;
    }

    .gift-options__intro-title,
    .our-experts__intro-title {
        font-size: 36px;
        padding-top: 75px;
    }

    .gift-options__intro-subtitle,
    .our-experts__intro-subtitle {
        font-size: 26px;
        padding-top: 75px;
    }

    .gift-options__workshops-logo {
        padding: 194px 90px;
    }

    .gift-options__workshops-description { 
        padding: 70px 60px;
    }

    .gift-options__workshops-title {
        font-size: 34px;
    }

    .gift-options__workshops-content,
    .gift-options__workshops-subcontent {
        font-size: 22px;
    }

    //---- Section 3 ----------------//

    .our-experts__content {
        padding-right: 50px;
    }

     //---- Section 4 ----------------//

    .outro {
        flex-direction: row;
        padding: 120px 0 100px 170px;
    }

    .outro-content__title {
        font-size: 46px;
    }

    .outro__image {
        width: 600px;
    }

}

@media screen and (min-width:1400px)  {

    //---- Section 1 ----------------//

    .header {
        padding: 120px 250px 0;
    }

    .letter__snowflake {
        transform: translate(-77%, 33%);
    }

    .letter__title {
        font-size: 48px;
    }

    .letter__subtitle {
        font-size: 30px;
    }

    .letter__content {
        font-size: 24px;
    }

    .letter__sign-off {
        font-size: 25px;
    }

    .letter__signature {
        width: 160px;
        height: 135px;
    }

    //---- Section 2 ----------------//

    .gift-options,
    .our-experts {
        padding: 120px 165px 40px;
    }

    .gift-options__intro-title,
    .our-experts__intro-title {
        font-size: 40px;
    }

    .gift-options__intro-subtitle,
    .our-experts__intro-subtitle {
        font-size: 30px;
    }

    .gift-options__workshops-logo {
        padding: 200px 100px;
    
        img {
            width: 285px;
            height: 245px;
        }
    }

    .gift-options__workshops-description { 
        padding: 80px 80px;
    }

    .gift-options__workshops-title {
        font-size: 36px;
    }

    .gift-options__workshops-content,
    .gift-options__workshops-subcontent {
        font-size: 24px;
    }

    //---- Section 4 ----------------//

    .outro-content__title {
        font-size: 58px;
    }

    .outro__image {
        width: 800px;
    }

}

@media screen and (min-width:1600px) {

    //---- Section 1 ----------------//

    .header {
        padding: 130px 300px 0;
    }

    .letter__snowflake {
        transform: translate(-90%, 33%);
    } 

    .letter__title {
        font-size: 58px;
    }
    
    .letter__subtitle {
        font-size: 40px;
    }
    
    .letter__content {
        font-size: 27px;
    }
    
    .letter__sign-off {
        font-size: 28px;
    }

    .letter__signature {
        width: 184px;
        height: 155px;
    }

    //---- Section 2 ----------------//

    .gift-options__intro-title,
    .our-experts__intro-title {
        font-size: 44px;
    }

    .gift-options__intro-subtitle,
    .our-experts__intro-subtitle {
        font-size: 34px;
    }

    .gift-options__workshops-logo {
        padding: 140px 100px;
    }
    
}



